* {
margin:0 1px 0 0;
padding:0;
list-style:none;
vertical-align:baseline;
}
body {
    font-family:'Century Gothic';
}
#logo {
    font-size:22px;
    color:#fff;
    margin-top:10px;
    margin-left: 15px;
}
a {
    color: #fff;
    text-decoration: none;
}

li{
         text-decoration:none;
    }
#rodape {
    font-family:'Century Gothic';
    font-size:22px;
    color:#fff;
    text-align:right;
    padding-left:30px;
    height:100px;
    
}
#normalHeader {
    margin-top:30px;
    margin-right:30px;
}
#ImageButtonRodaPeFacebook {
    float:left;
    margin-top:5px;
    margin-right:15px;
}
#ImageButtonRodaPeInstagram {
    float:left;
    margin-top:5px;
}
.lista-menu-principal {
    float:right;
    top:30px;
    font-family:'Century Gothic';
    font-size:22px;
}
.lista-menu-principal li {
    display: inline-block;
}
    .lista-menu-principal li a {
    display: block;
    padding: 40px 15px;
}
.pesquisa {
    position:relative;
    bottom:-52px;
    left: 151px;
    width: 144px;
}
.imagempesquisa {
    position:relative;
    bottom:-53px;
    left: 126px;
    width: 17px;
}
#faleconosco {
     position:relative;
    bottom:25px;
    left: -10px;
}
#cadastro {
    position:relative;
    left:80px;
    font-size:20px;
}
#feedUsuario {
    position:relative;
    width:50%;
    left:700px;
    top:-600px;
}
/*CADASTRO*/
[id*="ContentPlaceHolder1_RadioButton"]
{
    font-weight:100;
}
/*MENU*/
a:hover {
    color:#fff;
}
/*USUARIO*/
[for*="ContentPlaceHolder1_DataList1_tipoLabel"]
{
    width:100%;
    border:1px solid;
    border-color:#f00;
    border-radius:5px;
    padding:5px;
}
#filmes {
    position:relative;
    width:50%;
    top: 4px;
    left: 13px;
}
.labelUsuario {
    font-size:20px;
}
#criarLogin {
    position: relative; 
    left: 70%; 
    width:50%; 
}
/*HOME ANONIMO*/
#homeAnonimo {
}

/*LOGIN*/
#login {
    position: relative; left: 40%; width:261px;
}

/*FILME*/
#infoFilme {
    margin-top: 10px;
}
[id*="ContentPlaceHolder1_DataList1_usuarioLabel"]
{  
    font-weight:bold;
}
[id*="ContentPlaceHolder1_DataList1_descricaoLabel"]
{
    width:100%;
    border:1px solid;
    border-color:#bbb;
    border-radius:5px;
    padding:5px;
}
#acoesFilme {
    width:100px;
}
/*EDITAR PERFIL*/
#editarPerfil {
    position:relative;
    width:50%;
    left:70%;
}
/*HOME USUÁRIO*/

/*HOME USUÁRIO*/
#ContentPlaceHolder1_ImagePerfil
{
   border-radius: 50%;
}