* {
margin:0 1px 0 0;
padding:0;
list-style:none;
vertical-align:baseline;
}
body {
    font-family:'Century Gothic';
}
#logo {
    font-size:22px;
    color:#fff
}
a {
    color:#fff;
    text-decoration: none
}
#rodape {
    font-family:'Century Gothic';
    font-size:22px;
    color:#fff;
    text-align:right;
    
}
.lista-menu-principal {
    float:right;
    top:30px;
    font-family:'Century Gothic';
    font-size:22px;
}
.lista-menu-principal li {
    display: inline-block;
}
    .lista-menu-principal li a {
    display: block;
    padding: 40px 15px;
}
.pesquisa {
    position:relative;
    bottom:-52px;
    left: 151px;
    width: 144px;
}
.imagempesquisa {
    position:relative;
    bottom:-64px;
    left: 126px;
    height: 1px;
    width: 17px;
}
#faleconosco {
     position:relative;
    bottom:25px;
    left: -10px;

}
#cadastro {
    position:relative;
    left:80px;
    font-size:20px;
}
#feedUsuario {
    position:relative;
    width:50%;
}
/*USUARIO*/
[id*="ContentPlaceHolder1_DataList1_tipoLabel"]
{
    width:100%;
    border:1px solid;
    border-color:#f00;
    border-radius:5px;
    padding:5px;
}
#filmes {
    position:relative;
    width:300px;
}

/*FILME*/
[id*="ContentPlaceHolder1_DataList1_usuarioLabel"]
{  
    font-weight:bold;
}
[id*="ContentPlaceHolder1_DataList1_descricaoLabel"]
{
    width:100%;
    border:1px solid;
    border-color:#f00;
    border-radius:5px;
    padding:5px;
}
/*HOME USUÁRIO*/

/*HOME USUÁRIO*/
#ContentPlaceHolder1_ImagePerfil
{
   border-radius: 50%;
}